/*********************** TAGS *************************************/

body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    background-color: #f4f4f4;
    font-weight: 500;
    color: 40514E;
}
h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 4.8rem;
    margin: 50px auto 0 auto;
 }

 h2{
     font-size: 2.2rem;
     color: #557571;
     font-weight: 600;
     margin-bottom: 10px;
 }

.bio{
    font-weight: normal;
}

 h1, .bio {
     color: #f4f4f4;
 }
 

 h2, h3{
    font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif;
 }
 h3{
     color: #6fb1a9;
 }

 hr{
    border-style: none;
    border-width: 5px;
    border-top-style: dotted;
    width: 5%;
    border-color: #a8a494;
    margin: 100px auto 100px auto;
 }

 p{
    line-height: 2;
 }

 
 /*********************** CLASSNAMES *************************************/
 .top-container{
     background-color: #557571;
     position: relative;
     padding-top: 150px;
    }
    
    
    
    .bio{
        padding-bottom: 50px;
    }
    
    .fullstack{
        text-decoration: underline;
    }
    
    .top-cloud{
        position: absolute;
        top: 50px;
        right: 25%;
    }
    
    .bottom-cloud{
        position: absolute;
        bottom: 350px;
        left: 25%;
    }
    
    .mountain{
        padding-top: 50px;
    }
    
    
    .profile{
        width: 30%;
        margin: 50px auto 100px auto;
    }
    
    
    .profile-pic{
        width: 15rem;
    }
    
    .skills{
        margin: 50px auto 200px auto;
    }
    .skill-row{
        width: 50%;
        margin: 60px auto 200px auto;
        text-align: left;
    }
    
    .computer-pic{
        border-radius: 100%;
        width: 27%;
        float: left;
        margin-right: 30px;
    }
    
    .lightbulb-pic{
        border-radius: 100%;
        width: 20%;
        background-color: #065c6f;
        padding: 5% 4%;
        float: right;
        margin-left: 30px;  
    }
    
    .contact-me{
        width: 30%;
        margin: 100px auto 100px auto;  
    }
    
    .contact-message{
        margin: 40px auto 60px;
    }
    
    .btn {
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        height: 30px;
        line-height: 30px;
        color: #FFFFFF;
        font-family: Verdana;
        width: 189px;
        font-size: 25px;
        font-weight: 100;
        padding: 15px;
        background-color: #AB614B;
        -webkit-box-shadow: 1px 1px 20px 0 #FFFFFF;
        -moz-box-shadow: 1px 1px 20px 0 #FFFFFF;
        box-shadow: 1px 1px 20px 0 #FFFFFF;
        text-shadow: 1px 1px 20px #000000;
        border: solid #FFFFFF 1px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        text-align: center;
    }
    
    .btn:hover {
        background: #6E4438;
        border: solid #FFFFFF 1px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        text-decoration: none;
    }
    
    .bottom-container{
        background-color: #557571;
        padding: 50px 0 20px 0;
    }
    
    .footer-link{
       color: #6fb1a9;  
       font-family: 'Noto Sans JP', Helvetica, Arial, sans-serif; 
       margin: 10px 20px;
       text-decoration: none;
    }
   
    .footer-link:hover{
        color: #f4f4f4;
    }

    .copyright{
        color: #f4f4f4;
        font-size: 0.75rem;
        padding: 20px 0;
    }